
.side-navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60px;
  background-color: #341f37; /* Tailwind gray-800 */
  color: white;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  z-index: 50;
  padding: 80px 20px;
  opacity: 0.40;
}

.side-navbar.expanded {
  width: 200px;
}

.side-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.menu-item {
  cursor: pointer;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 6px;
  /*border-top-style: solid;*/
  background-color: transparent;
  transition: background 0.3s;
}

.menu-item:hover {
  background-color: #4d3751; /* Tailwind gray-700 */
}
